
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myChapterLabel" data-translate="comicbooksApp.chapter.home.createOrEditLabel">Create or edit a Chapter</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.chapter.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.chapter.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="comicbooksApp.chapter.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.chapter.name"
                    required/>
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="comicbooksApp.chapter.number" for="field_number">Number</label>
            <input type="number" class="form-control" name="number" id="field_number"
                    ng-model="vm.chapter.number"
                    required/>
            <div ng-show="editForm.number.$invalid">
                <p class="help-block"
                    ng-show="editForm.number.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.number.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="comicbooksApp.chapter.volume" for="field_volume">Volume</label>
            <input type="text" class="form-control" name="volume" id="field_volume"
                    ng-model="vm.chapter.volume"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="comicbooksApp.chapter.filePath" for="field_filePath">File Path</label>
            <input type="text" class="form-control" name="filePath" id="field_filePath"
                    ng-model="vm.chapter.filePath"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="comicbooksApp.chapter.pages" for="field_pages">Pages</label>
            <input type="number" class="form-control" name="pages" id="field_pages"
                    ng-model="vm.chapter.pages"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="comicbooksApp.chapter.releaseDate" for="field_releaseDate">Release Date</label>
                <div class="input-group">
                    <input id="field_releaseDate" type="text" class="form-control" name="releaseDate" datetime-picker="{{dateformat}}" ng-model="vm.chapter.releaseDate" is-open="vm.datePickerOpenStatus.releaseDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('releaseDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="comicbooksApp.chapter.createdBy" for="field_createdBy">Created By</label>
            <input type="text" class="form-control" name="createdBy" id="field_createdBy"
                    ng-model="vm.chapter.createdBy"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="comicbooksApp.chapter.createdDate" for="field_createdDate">Created Date</label>
                <div class="input-group">
                    <input id="field_createdDate" type="text" class="form-control" name="createdDate" datetime-picker="{{dateformat}}" ng-model="vm.chapter.createdDate" is-open="vm.datePickerOpenStatus.createdDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('createdDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="comicbooksApp.chapter.lastModifiedBy" for="field_lastModifiedBy">Last Modified By</label>
            <input type="text" class="form-control" name="lastModifiedBy" id="field_lastModifiedBy"
                    ng-model="vm.chapter.lastModifiedBy"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="comicbooksApp.chapter.lastModifiedDate" for="field_lastModifiedDate">Last Modified Date</label>
                <div class="input-group">
                    <input id="field_lastModifiedDate" type="text" class="form-control" name="lastModifiedDate" datetime-picker="{{dateformat}}" ng-model="vm.chapter.lastModifiedDate" is-open="vm.datePickerOpenStatus.lastModifiedDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('lastModifiedDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
