<div layout="column" layout-align="start center">
    <img ng-src="{{vm.image}}" alt="page">
    <div class="md-raised md-button cb-right" ng-click="vm.nextPage()">След.</div>
    <div class="md-raised md-button cb-left" ng-click="vm.prevPage()">Пред.</div>
    <div layout="row">
        <md-button ng-click="vm.firstPage()">Первая</md-button>
        <md-button ng-click="vm.prevPage()">Пердыдущая</md-button>
        <md-button ng-click="vm.nextPage()">Следующая</md-button>
        <md-button ng-click="vm.lastPage()">Последняя</md-button>
    </div>
</div>
