<div layout="column" ng-cloak>
    <img class="cb-background" ng-init="vm.loadImage(vm.comicBook.id, 'background', vm.comicBook)"
         alt="background" ng-src="{{vm.comicBook.image}}">
    <div md-whiteframe="1" layout="column">
        <div layout="row" layout-padding>
            <div class="cb-detail-cover" md-whiteframe="-1">
                <img ng-init="vm.loadImage(vm.comicBook.id, 'cover', vm.comicBook)"
                     alt="cover" ng-src="{{vm.comicBook.cover}}">
            </div>
            <div layout="column">
                <div class="md-display-1 cb-title"><b>{{vm.comicBook.title}}</b></div>
                <div class="cb-regular-16 cb-clickable" ng-init="vm.getAuthor(vm.comicBook.authorId, vm.comicBook)"
                     ui-sref="author-detail({id:vm.comicBook.authorId})">
                    {{vm.comicBook.firstName}} {{vm.comicBook.lastName}}
                </div>
                <div ng-if="vm.comicBook.publisher" class="cb-regular-16">
                    Издатель: {{vm.comicBook.publisher}}
                </div>
                <div ng-if="vm.comicBook.serializedFrom" class="cb-regular-16">
                    Выпускается: c
                    {{vm.getMonth(vm.comicBook.serializedFrom)}}/{{vm.getYear(vm.comicBook.serializedFrom)}}
                    <span ng-if="vm.comicBook.serializedTo">по
                        {{vm.getMonth(vm.comicBook.serializedTo)}}/{{vm.getYear(vm.comicBook.serializedTo)}}</span>
                </div>
                <div class="cb-regular-16 cb-title">{{vm.comicBook.chapters}} глав
                    | {{comicBook.status == 'COMPLETED' ? 'Завершен' : 'Продолжается'}}
                </div>
                <div class="cb-regular-16 cb-wrap-break-word">{{vm.comicBook.description}}</div>
            </div>
        </div>
        <div layout="row" layout-padding layout-wrap>
            <div ng-repeat="genre in vm.genres">
                <div class="md-button">{{genre.name}}</div>
            </div>
        </div>
    </div>
    <div ng-if="vm.chapters.length > 0" md-whiteframe="1" class="cb-chapters" layout="column" layout-padding>
        <div layout="row">
            <div class="md-headline">Главы</div>
            <span flex></span>
            <md-button has-authority="ROLE_ADMIN" ng-click="vm.showChapterDialog($event)">Добавить главу</md-button>
        </div>
        <div layout="column">
            <div ng-repeat="chapter in vm.chapters">
                <div class="md-button" ui-sref="chapter-detail({id: chapter.id})" layout="row">
                    <span ng-if="chapter.volume">Том {{chapter.volume}}.&nbsp</span>
                    <span>Глава {{chapter.number}}: {{chapter.name}}</span>
                    <span flex></span>
                    <span ng-if="chapter.releaseDate">
                        {{vm.getMonth(chapter.releaseDate)}}/{{vm.getDate(chapter.releaseDate)}}/{{vm.getYear(chapter.releaseDate)}}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
