<md-toolbar class="md-toolbar-tools" ng-switch="vm.isAuthenticated">
    <md-button ui-sref="home">Главная</md-button>
    <md-button ui-sref="comic-book">Все комиксы</md-button>
    <md-button ui-sref="author">Авторы</md-button>
    <!--<md-button has-authority="ROLE_ADMIN" ng-show="vm.swaggerEnabled" ui-sref="docs">API</md-button>-->
    <span flex></span>
    <md-autocomplete has-authority="ROLE_USER" flex="20" placeholder="Поиск" md-items="comic in vm.comicBooks"
                     md-item-text="comic.title" md-search-text="vm.searchText">
        <md-item-template>
            <span md-highlight-text="vm.searchText">{{item.display}}</span>
        </md-item-template>
        <md-not-found>
            No states matching "{{vm.searchText}}" were found.
        </md-not-found>
    </md-autocomplete>
    <md-button class="md-raised md-warn" ng-show="vm.isAuthenticated()" ng-click="vm.logout()">Выйти</md-button>
    <md-button class="md-raised md-warn" ng-hide="vm.isAuthenticated()" ng-click="vm.login()">Вход</md-button>
    <md-button class="md-raised md-warn" ng-hide="vm.isAuthenticated()" ui-sref="register">Регистрация</md-button>
</md-toolbar>
