<md-dialog flex="50">
    <form name="authorForm" role="form">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Добавить автора</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="content/images/close.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content" layout="column">
                <div layout="column" layout-align="start center">
                    <img class="cb-add-avatar"
                         ngf-thumbnail="author.avatar || 'content/images/no_avatar.svg'" alt="avatar">
                    <div ngf-select ng-model="author.avatar" class="md-button"
                         ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="5MB"
                         ngf-resize="{width: 300, height: 300, centerCrop: true}" required>Добавить аватар
                    </div>
                </div>
                <div layout="column">
                    <md-input-container flex class="md-block">
                        <label>Имя</label>
                        <input type="text" name="firstName" ng-model="author.firstName" required>
                        <div ng-messages="authorForm.firstName.$error">
                            <div ng-message="required">Это поле обязательно к заполнению.</div>
                        </div>
                    </md-input-container>

                    <md-input-container flex class="md-block">
                        <label>Фамилия</label>
                        <input type="text" name="lastName" ng-model="author.lastName" required>
                        <div ng-messages="authorForm.lastName.$error">
                            <div ng-message="required">Это поле обязательно к заполнению.</div>
                        </div>
                    </md-input-container>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="cancel()">Отмена</md-button>
            <md-button ng-disabled="!authorForm.$valid" ng-click="save()">Добавить</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
